Crossover IMS/Source/Crossover.AMS.Dashboard/Service References/CommunicationService/CommunicationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="Crossover.AMS.Communication" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Crossover.AMS.Communication" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Crossover.AMS.Communication/Imports">
      <xsd:import schemaLocation="http://localhost:8082/CommunicationService?xsd=xsd0" namespace="Crossover.AMS.Communication" />
      <xsd:import schemaLocation="http://localhost:8082/CommunicationService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8082/CommunicationService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Crossover.AMS.Communication.Model" />
      <xsd:import schemaLocation="http://localhost:8082/CommunicationService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8082/CommunicationService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Crossover.AMS.Contracts.Communication" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICommunicationServiceContract_SendConferenceMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendConferenceMessage" />
  </wsdl:message>
  <wsdl:message name="ICommunicationServiceContract_SendConferenceMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendConferenceMessageResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationServiceContract_SendPrivateMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendPrivateMessage" />
  </wsdl:message>
  <wsdl:message name="ICommunicationServiceContract_SendPrivateMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendPrivateMessageResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationServiceContract_GetPrivateMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrivateMessages" />
  </wsdl:message>
  <wsdl:message name="ICommunicationServiceContract_GetPrivateMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrivateMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationServiceContract_GetNewPrivateSenders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewPrivateSenders" />
  </wsdl:message>
  <wsdl:message name="ICommunicationServiceContract_GetNewPrivateSenders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewPrivateSendersResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationServiceContract_MarkAsReaded_InputMessage">
    <wsdl:part name="parameters" element="tns:MarkAsReaded" />
  </wsdl:message>
  <wsdl:message name="ICommunicationServiceContract_MarkAsReaded_OutputMessage">
    <wsdl:part name="parameters" element="tns:MarkAsReadedResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationServiceContract_GetConferenceMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConferenceMessages" />
  </wsdl:message>
  <wsdl:message name="ICommunicationServiceContract_GetConferenceMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConferenceMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationServiceContract_CreateConference_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateConference" />
  </wsdl:message>
  <wsdl:message name="ICommunicationServiceContract_CreateConference_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateConferenceResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationServiceContract_UpdateConference_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateConference" />
  </wsdl:message>
  <wsdl:message name="ICommunicationServiceContract_UpdateConference_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateConferenceResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationServiceContract_DeleteConference_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteConference" />
  </wsdl:message>
  <wsdl:message name="ICommunicationServiceContract_DeleteConference_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteConferenceResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationServiceContract_GetConferencieList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConferencieList" />
  </wsdl:message>
  <wsdl:message name="ICommunicationServiceContract_GetConferencieList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConferencieListResponse" />
  </wsdl:message>
  <wsdl:portType name="ICommunicationServiceContract">
    <wsdl:operation name="SendConferenceMessage">
      <wsdl:input wsaw:Action="Crossover.AMS.Communication/ICommunicationServiceContract/SendConferenceMessage" message="tns:ICommunicationServiceContract_SendConferenceMessage_InputMessage" />
      <wsdl:output wsaw:Action="Crossover.AMS.Communication/ICommunicationServiceContract/SendConferenceMessageResponse" message="tns:ICommunicationServiceContract_SendConferenceMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendPrivateMessage">
      <wsdl:input wsaw:Action="Crossover.AMS.Communication/ICommunicationServiceContract/SendPrivateMessage" message="tns:ICommunicationServiceContract_SendPrivateMessage_InputMessage" />
      <wsdl:output wsaw:Action="Crossover.AMS.Communication/ICommunicationServiceContract/SendPrivateMessageResponse" message="tns:ICommunicationServiceContract_SendPrivateMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrivateMessages">
      <wsdl:input wsaw:Action="Crossover.AMS.Communication/ICommunicationServiceContract/GetPrivateMessages" message="tns:ICommunicationServiceContract_GetPrivateMessages_InputMessage" />
      <wsdl:output wsaw:Action="Crossover.AMS.Communication/ICommunicationServiceContract/GetPrivateMessagesResponse" message="tns:ICommunicationServiceContract_GetPrivateMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewPrivateSenders">
      <wsdl:input wsaw:Action="Crossover.AMS.Communication/ICommunicationServiceContract/GetNewPrivateSenders" message="tns:ICommunicationServiceContract_GetNewPrivateSenders_InputMessage" />
      <wsdl:output wsaw:Action="Crossover.AMS.Communication/ICommunicationServiceContract/GetNewPrivateSendersResponse" message="tns:ICommunicationServiceContract_GetNewPrivateSenders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MarkAsReaded">
      <wsdl:input wsaw:Action="Crossover.AMS.Communication/ICommunicationServiceContract/MarkAsReaded" message="tns:ICommunicationServiceContract_MarkAsReaded_InputMessage" />
      <wsdl:output wsaw:Action="Crossover.AMS.Communication/ICommunicationServiceContract/MarkAsReadedResponse" message="tns:ICommunicationServiceContract_MarkAsReaded_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConferenceMessages">
      <wsdl:input wsaw:Action="Crossover.AMS.Communication/ICommunicationServiceContract/GetConferenceMessages" message="tns:ICommunicationServiceContract_GetConferenceMessages_InputMessage" />
      <wsdl:output wsaw:Action="Crossover.AMS.Communication/ICommunicationServiceContract/GetConferenceMessagesResponse" message="tns:ICommunicationServiceContract_GetConferenceMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateConference">
      <wsdl:input wsaw:Action="Crossover.AMS.Communication/ICommunicationServiceContract/CreateConference" message="tns:ICommunicationServiceContract_CreateConference_InputMessage" />
      <wsdl:output wsaw:Action="Crossover.AMS.Communication/ICommunicationServiceContract/CreateConferenceResponse" message="tns:ICommunicationServiceContract_CreateConference_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateConference">
      <wsdl:input wsaw:Action="Crossover.AMS.Communication/ICommunicationServiceContract/UpdateConference" message="tns:ICommunicationServiceContract_UpdateConference_InputMessage" />
      <wsdl:output wsaw:Action="Crossover.AMS.Communication/ICommunicationServiceContract/UpdateConferenceResponse" message="tns:ICommunicationServiceContract_UpdateConference_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteConference">
      <wsdl:input wsaw:Action="Crossover.AMS.Communication/ICommunicationServiceContract/DeleteConference" message="tns:ICommunicationServiceContract_DeleteConference_InputMessage" />
      <wsdl:output wsaw:Action="Crossover.AMS.Communication/ICommunicationServiceContract/DeleteConferenceResponse" message="tns:ICommunicationServiceContract_DeleteConference_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConferencieList">
      <wsdl:input wsaw:Action="Crossover.AMS.Communication/ICommunicationServiceContract/GetConferencieList" message="tns:ICommunicationServiceContract_GetConferencieList_InputMessage" />
      <wsdl:output wsaw:Action="Crossover.AMS.Communication/ICommunicationServiceContract/GetConferencieListResponse" message="tns:ICommunicationServiceContract_GetConferencieList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>